body.login-page,
body.registro-page {
  background-color: #003366;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contenedor {
  background: white;
  max-width: 350px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
}

input, select {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  width: 95%;
  padding: 10px;
  background: #003366;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0055aa;
}
